asgiref==3.2.10
automium==0.2.6
automium-web==0.1.1
boto3==1.12.2
botocore==1.15.11
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
configparser==5.0.0
cycler==0.10.0
dj-database-url==0.5.0
Django==2.2
docutils==0.15.2
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.15.1
kiwisolver==1.2.0
legacy==0.1.6
MarkupSafe==1.1.1
matplotlib==3.2.2
mysql-client==0.0.1
nltk==3.5
numpy==1.18.5
oauthlib==3.1.0
pandas==1.0.5
pickleshare==0.7.5
Pillow==7.0.0
psycopg2-binary==2.8.5
py4j==0.10.7
PyMySQL==0.9.3
PyMysqlDB==0.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
PyPDF4==1.27.0
PySocks==1.7.1
pyspark==2.4.4
pyspark-stubs==2.4.0.post7
pytesseract==0.3.4
python-dateutil==2.8.1
pytz==2019.3
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
six==1.14.0
South==1.0.2
spark==0.2.1
sqlparse==0.3.1
start==0.2
threadpoolctl==2.1.0
tqdm==4.46.1
tweepy==3.8.0
unicodecsv==0.14.1
urllib3==1.25.8
views==0.3
Wand==0.6.1
Werkzeug==1.0.1
whitenoise==5.1.0
